{% extends "base.html" %}

{% block body %}
<div>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="padding-left: 0;">
    <div class="container"><a class="navbar-brand" href="#">Jerry's Blog</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          {% if current_user %}
            <li class="nav-item" role="presentation"><a class="nav-link" href="/auth/manage">管理</a></li>
          {% end %}
          <li class="nav-item" role="presentation"><a class="nav-link" href="#">存档</a></li>
          {% if not current_user %}
          <li class="nav-item" role="presentation"><a class="nav-link" href="#">打赏</a></li>
          {% end %}
        </ul>
      </div>
    </div>
  </nav>
  <hr style="margin: 0;">
</div>

<ul class="list-group" style="margin: 52px;margin-left: 121px;margin-right: 111px;">
  {% for item in items %}
    <li class="list-group-item list-group-item-action"><a style="font-size: 26px;" href="/entry/{{ item.slug }}">{{item.title}}<br></a></li>
  {% end %}
</ul>
{% end %}