{% extends "base.html" %}

{% block body %}
<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="padding-left: 0;">
        <div class="container"><a class="navbar-brand" href="#">Jerry's Blog</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" role="presentation"><a class="nav-link" href="/compose/new">新建</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#">存档</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <hr style="margin: 0;">
</div>

<div class="inner">
    <ul class="list-group">
        {% for article in articles %}
        <li value="{{article.slug}}" class="list-group-item">
            <span>{{article.title}}</span>
            <button class="btn btn-danger text-right float-right" id="delete" type="button">删除</button>
            <button class="btn btn-primary text-right float-right" id="edit" type="button" style="margin-right: 36px;">编辑</button>
        </li>
        {% end %}
    </ul>
</div>

{% end %}

{% block bottom %}
<script type="text/javascript">
    //<![CDATA[
    
    $(function() {
        $("button#edit").click(function() {
            var slug = $(this).parent().attr('value')
            window.location.href="../compose/"+slug
        })
        $("button#delete").click(function() {
            var slug = $(this).parent().attr('value')
            $.postJSON(window.location.href, {'action': 'delete', 'slug': slug}, function() {
                window.location.reload()
            })
        })
    });
  
    //]]>
    </script>
{% end %}